<!DOCTYPE HTML>
<html>
  <head>
    <title>Shan the Man</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="/static/img/stripe.ico">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    
  </head>
  <body style="min-height: 3000px">
    <div class="jumbotron" style="background:#333;margin-bottom:0;color:#FFFFFF">
      <div class="container">
	<h1>Shan Shi</h1>
	<p>Student of Computer Engineering</p>
      </div>
    </div>
    <div class="affixThis">
      <div class="navbar navbar-default" role="navigation">
	<div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="index.html">Home</a></li>
              <li><a href="projects.html">Projects</a></li>
	      <li><a href="experience.html">Experience</a></li>
	      <li><a href="blog.html">Blog</a></li>
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact<b class="caret"></b></a>
		<ul class="dropdown-menu">
                  <li><a href="https://github.com/a455898334"><i class="fa fa-github-alt fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;Github</a></li>
		  <li><a href="http://www.linkedin.com/profile/view?id=184036896"><i class="fa fa-linkedin fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;LinkedIn</a></li>
		  <li><a href="http://www.google.com/recaptcha/mailhide/d?k=01FWxabhGeViLlqmgu46Lxpg==&amp;c=GJd7DyKpn1I4y9cfMo6mhPoZN8fYJqDI3rcu0exw4pA=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501FWxabhGeViLlqmgu46Lxpg\75\75\46c\75GJd7DyKpn1I4y9cfMo6mhPoZN8fYJqDI3rcu0exw4pA\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;"><i class="fa fa-envelope fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;Email</a></li>
		</ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
	</div>
      </div>
    </div>
    <div class="container">
      
    </div>
    
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/javascript.js"></script>  
    
  </body>
</html>
