              <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact<b class="caret"></b></a>
		<ul class="dropdown-menu">
                  <li><a href="https://github.com/a455898334"><i class="fa fa-github-alt fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;Github</a></li>
		  <li><a href="http://www.linkedin.com/profile/view?id=184036896"><i class="fa fa-linkedin fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;LinkedIn</a></li>
		  <li><a href="http://www.google.com/recaptcha/mailhide/d?k=01FWxabhGeViLlqmgu46Lxpg==&amp;c=GJd7DyKpn1I4y9cfMo6mhPoZN8fYJqDI3rcu0exw4pA=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501FWxabhGeViLlqmgu46Lxpg\75\75\46c\75GJd7DyKpn1I4y9cfMo6mhPoZN8fYJqDI3rcu0exw4pA\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;"><i class="fa fa-envelope fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;Email</a></li>
              </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
	</div>
      </div>
    </div>
    </div>
    <div class="background">
    <div class="container">
